.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	background-image: url("/fondo.jpg");
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("/mole-topo.gif");
	background-size: cover;
}
